<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
    xmlns:cache="http://www.springframework.org/schema/cache" xmlns:util="http://www.springframework.org/schema/util"
    xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
    http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <context:component-scan base-package="com.saltedhashed">
        <context:exclude-filter type="annotation"
            expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <context:property-placeholder
        location="file:${saltedhashed.config.location}/application.properties" />

    <bean id="s3Service" class="org.jets3t.service.impl.rest.httpclient.RestS3Service">
        <constructor-arg>
            <bean class="org.jets3t.service.security.AWSCredentials">
                <constructor-arg value="${s3.access.key}" />
                <constructor-arg value="${s3.secret}" />
            </bean>
        </constructor-arg>
    </bean>

    <task:scheduler id="poolScheduler" pool-size="5" />
    <task:annotation-driven scheduler="poolScheduler" />


    <mongo:mongo host="${mongo.host}" port="${mongo.port}" id="mongo">
    </mongo:mongo>
    <mongo:db-factory mongo-ref="mongo" id="mongoFactory" dbname="${mongo.database}" username="${mongo.username}"
        password="${mongo.password}" />

    <bean class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongoFactory" />
        <property name="writeConcern">
            <util:constant static-field="com.mongodb.WriteConcern.ACKNOWLEDGED" />
        </property>
    </bean>
</beans>